* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Style the main background color */
body {
    background-color: #d9dcd6;
}

/* Customize the header bar */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* Displays the header content all in the same line, and sets the font for the company name. */
h1 {
    display: inline-block;
    font-size: 48px;
}

/* Colors the "seo" in Horiseon a slightly darker shade of grey */
.seo {
    color: #d9dcd6;
}

/* Navigation section with links to sections down the page */
.headerNav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-size: 20px;
    list-style-type: none;
}

/* Displays the nav list in a horizontal line */
.headerLinks {
    display: inline-block;
    margin-left: 25px;
}

/* Adjusts color of links to white and removes any link decoration */
a {
    color: #ffffff;
    text-decoration: none;
}

/* Main header image that covers the top of the page */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
    alt: "Digital Marketing Meeting";
}

/* Box for the content divider, scooted to the side to leave space for the benefits sidebar */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* Defines consistent formatting for all content sections */
.contentSection {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* Formats the headers for each content section */
.contentSection h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* Formats the height for all content images */
.content img {
    max-height: 200px;
}

/* Moves the content image to the left of the text, leaving a bit of space between them */
.float-left {
    float: left;
    margin-right: 25px;
}

/* Moves the content image to the right of the text, leaving a bit of space between them */
.float-right {
    float: right;
    margin-left: 25px;
}

/* Sets consistent paragraph font size */
p {
    font-size: 16px;
}


/* Formats the box for the benefits sidebar */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* Spaces out the benefits sections and changes text color to white */
.benefit-section{
    margin-bottom: 32px;
    color: #ffffff;
}

/* Formats the headings for the benefits sections */
h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* Formats the images in each benefits section */
.benefit-section img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* Formats the footer of the page */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* adjusts the font size of the footer heading */
footer h2 {
    font-size: 20px;
}


